<h1>Add Event</h1>

<form method="post">
    <input name= "name" type="text" placeholder="Event Name" />
    <input name= "desc" type="text" placeholder="Event Description" />
    <input type="submit" value="Add Event"/>

</form>