<form method="post" action="/events/edit">
    <div class="form-group">
        <label>
            Name
            <input class="form-control" type="text" name="name" value="@ViewBag.eventToEdit.Name" />
        </label>
    </div>
    <div class="form-group">
        <label>
            Description
            <input class="form-control" type="text" name="description" value="@ViewBag.eventToEdit.Description" />
        </label>
    </div>

    <input type="hidden" name="id" value="@ViewBag.eventToEdit.Id" />

    <input class="btn btn-primary" type="submit" value="Confirm Changes" />
</form>