<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="AddEvent">Add Event</a>
</p>

<ul>
    @foreach (KeyValuePair <string, string> meeting in ViewBag.events)
    {
        <li>@meeting.Key, @meeting.Value</li>
    }
</ul>